In [1]:
import metapack as mp
import pandas as pd
import numpy as np
from IPython.display import display 

mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_source_package()
pkg

# Monthly Foreign Currency Exchange Rates
`bis.org-exchange_rates-2018e-1.1.4` Last Update: 2022-11-09T16:12:00

_Exchanges rates to US dollars, monthly, from 2018 on._


## Documentation Links

* [US dollar exchange rates](https://www.bis.org/statistics/xrusd.htm?m=2675)



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [monthly_exc_rates](notebooks/extract.ipynb#df)**. Monthly exchange rates for selected currencies.

## References
<ul><li> <strong><a href="https://www.bis.org/statistics/full_xru_csv.zip">monthly_exc_rates_source</a></strong>. </li><ul>

In [3]:
src = pkg.reference('monthly_exc_rates_source').dataframe()

In [4]:
df = src[(src.Frequency == 'Monthly') & (src.Collection=='Average of observations through period')].copy()
df = df.set_index('CURRENCY').loc[:,'2018-01':].stack().to_frame().reset_index()
df.columns = ['currency','date','rate']
df = df[['date','currency','rate']]
df.columns =  ['date','currency','conversion_factor_to_USD']
df

          date currency  conversion_factor_to_USD
0      2018-01      ZMW                     9.860
1      2018-02      ZMW                     9.790
2      2018-03      ZMW                     9.590
3      2018-04      ZMW                     9.520
4      2018-05      ZMW                    10.020
...        ...      ...                       ...
10416  2022-04      ERN                    15.075
10417  2022-05      ERN                    15.075
10418  2022-06      ERN                    15.075
10419  2022-07      ERN                    15.075
10420  2022-08      ERN                    15.075

[10421 rows x 3 columns]