In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_source_package()
pkg

`bis.org-exchange_rates-2018e-1.1.1` Last Update: 2022-11-03T19:40:14

__


## Documentation Links

* [US dollar exchange rates](https://www.bis.org/statistics/xrusd.htm?m=2675)



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [monthly_exc_rates](notebooks/extract.ipynb#df)**.

## References
<ul><li> <strong><a href="https://www.bis.org/statistics/full_xru_csv.zip">monthly_exc_rates_source</a></strong>. </li><ul>

In [3]:
src = pkg.reference('monthly_exc_rates_source').dataframe()

In [4]:
df = src[(src.Frequency == 'Monthly') & (src.Collection=='Average of observations through period')].copy()
df = df.set_index('CURRENCY').loc[:,'2018-01':].stack().to_frame().reset_index()
df.columns = ['currency','date','rate']
df

      currency     date    rate
0          ZMW  2018-01   9.860
1          ZMW  2018-02   9.790
2          ZMW  2018-03   9.590
3          ZMW  2018-04   9.520
4          ZMW  2018-05  10.020
...        ...      ...     ...
10416      ERN  2022-04  15.075
10417      ERN  2022-05  15.075
10418      ERN  2022-06  15.075
10419      ERN  2022-07  15.075
10420      ERN  2022-08  15.075

[10421 rows x 3 columns]